<header id="header">
  <nav id="header-nav">
    <h2 class="app-text disc-golf">Kevin's Angular Projects</h2>
    <!-- <a href="https://kpc22.github.io/service-pal/" class="nav-anchor"><h2 class="app-text service-report">Service Report App</h2></a> -->
  </nav>
</header>
<body id="page-body">
  <a href="https://kpc22.github.io/tag-tracker-angular/" class="nav-anchor"><h3 class="h3-header">->  Disc Golf Scoring App <-</h3></a>
  <p class="page-p-element">This app will make scoring simple and flexible. Users can keep score on their phone and record all of their throw distances 
    with a few simple touches. A map building feature will be used to generate an image of the hole layout complete with tee and basket locations, 
    hazards or out-of-bounds elements such as trees, water, islands,... and of course your discs - which will illustrate how you were able to birdie that long par 3.
  </p>
  <a href="https://kpc22.github.io/gps-sensor/" class="nav-anchor"><h3 class="h3-header">-> GPS App <-</h3></a>
  <p class="page-p-element">This app is used to measure gps coordinates and test the accuracy utilizing the browser's GPS data. </p>
</body>